* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;

}


body {
    background: url('/Users/RAMZY/aminaa/public/background.png') no-repeat center center / cover;
}

.home {
   
    padding: 0 10%;
    margin-top: 140px;
   
}

.home-text {
    text-align: left;
}

.home-text h5 {
    font-size: 18px;
    color: rgb(80, 49, 9);
}

.home-text h1 {
    font-size: 50px;
    font-weight: 600;
   
    line-height: 1.2;
}

.home-text p {
    font-size: 20px;
    font-style: italic;
    color: rgb(80, 49, 9);
}

.home-text button {
    background-color: black;
    
    
}


.products {
    margin-top: 50px;
    margin-right: 30px;
    display: flex;
    @media (max-width: 768px) {
 flex-direction: column;
}
}
.row {
    display: flex;
    flex-direction: column;
}
.row img {
    width: 350px;
    height: auto;
    transition: transform 0.4s;
       @media (max-width: 768px) {
    width : 100%;
        
}
}
.row img:hover {
    transform: scale(0.9);
}
.product-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.product-info-container .texte {
    margin-left: 15px;
}

.products-btn {
    background: black;
    color: white;
    border: 2px solid black;
    padding: 5px 10px;
    font-size: 10px;
    transition: 0.3s;
}
.products-btn:hover {
    background: white;
    color: black;
}

