.aboutus {
margin-top: 50px;
        @media (max-width: 768px) {
      flex-direction: column;
   
}
}
.aboutus h2{
    color: black;
    text-align: left;
    margin-left: 90px;
}
.aboutus p{
    color: black;
    text-align: left;
    margin-left: 100px;
    
}